$primary-0: #000000;
$primary-10: #190064;
$primary-20: #2d009d;
$primary-25: #381aa8;
$primary-30: #442bb3;
$primary-35: #503abf;
$primary-40: #5c48cc;
$primary-50: #7663e7;
$primary-60: #907eff;
$primary-70: #ac9fff;
$primary-80: #c8bfff;
$primary-90: #e5deff;
$primary-95: #f4eeff;
$primary-98: #fdf8ff;
$primary-99: #fffbff;
$primary-100: #ffffff;

$secondary-0: #000000;
$secondary-10: #00201e;
$secondary-20: #003733;
$secondary-25: #00433f;
$secondary-30: #00504b;
$secondary-35: #005d57;
$secondary-40: #006a64;
$secondary-50: #00867e;
$secondary-60: #00a299;
$secondary-70: #26bfb4;
$secondary-80: #50dbcf;
$secondary-90: #71f7ec;
$secondary-95: #b2fff6;
$secondary-98: #e4fffb;
$secondary-99: #f2fffc;
$secondary-100: #ffffff;

$neutral-0: #000;
$neutral-10: #03020f;
$neutral-20: #141327;
$neutral-30: #2c2b41;
$neutral-40: #45455d;
$neutral-50: #61607a;
$neutral-60: #7d7d98;
$neutral-70: #9b9bb7;
$neutral-80: #bbbbd7;
$neutral-90: #dbdbf8;
$neutral-95: #ecedff;
$neutral-98: #f7f8ff;
$neutral-99: #fbfbff;
$neutral-100: #fff;

