.nav__bottom-row {
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-inline: max(10%, calc((100% - var(--max-width-all-content)) / 2));
  gap: var(--spacing-inline-xs);
}
